*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

h1{
    color: antiquewhite;  
    background-color: #0A66C2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.icon{
    height: 70px;
    width: 220px;
    background-image: url("icon_img.png");
    background-size:cover;
    margin-left: 0%;
}

.box{
    height: 500px;
    width: 30%;
    margin-left: 30%;
    background-color: #0A66C2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 5%;
}

.username{
     height: 40px;
     width: 70%;
     background-color: aliceblue;
     padding-left: 15px;
     padding-right: 10px;
     border-radius: 10px;
     font-size: larger;
     border: none;
}

#pswd{
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.password{
     height: 40px;
     width: 70%;
     background-color: aliceblue;
     padding-left: 15px;
     padding-right: 10px;
     border-radius: 10px;
     font-size: larger;
     border: none;
}

.forgot{
    width: 130px;
    height: 10px;
    background-color: #0A66C2;
    text-decoration: none;
    font-size: 15px;
    color: gold;
    margin-top: 10px;
    padding: 0px;
}

#signin{
    height: 30px;
    font-size: 20px;
    color: #0A66C2;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 8px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.getin{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.google{
    height: 30px;
    background-color: yellow;
    border-radius: 20px;
    color: black;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.apple{
    height: 30px;
    background-color: red;
    color:  black;
    padding: 8px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-text{
    font-size: large;
    text-decoration: none;
    color: black;
    display:contents;
}

.apple-text{
    font-size: large;
    text-decoration: none;
    color: white;
    display: contents;
}

i{
    padding: 8px;
}